spring:
    data:
        mongodb:
            uri: ${newscharturi}
management:
    endpoints:
        web:
            exposure:
                include: loggers,health,prometheus,logfile
    endpoint:
        health:
            show-details: always
    health:
        defaults:
            enabled: true
    metrics:
        export:
            prometheus:
                enabled: true
        distribution:
            percentiles-histogram:
                "[http.server.requests]": true
logging:
    file:
        name: logfile.log